<!DOCTYPE html>
<html>
<head>
    <title>Spin</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity=
    "sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <br><br>
    <h2 align="center" style = "color : black"> Welcome to Spin, the spin off of Twitter</h2>
    <div class = "container">

        <form method = "POST">
            {% csrf_token %}

            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">SignUp</legend>
                {{form.as_p}}
            </fieldset>

            <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit">SignUp</button>
            </div>

            <a href="#"><p>Login, I already have an account</p></a>


        </form>

    </div>


</body>
</html>